body {
    background-color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header {
    color: blue;
    font-size: 1.6rem;
    font-weight: 700;
}

nav {
    background-color: darkred;
}
nav ul {
    margin: 0;
    padding: 0 10 px;
    list-style-type: none;
    
}
nav a {
    display: block;
    padding: .83rem 1rem;
}